@import 'components/_menu_top.scss',
'components/_fab_bottom.scss',
'components/_ham_bar.scss',
'components/_card.scss';
*, html, body {
    padding: 0!important;
    margin: 0;
    background-color: #F6F6F6;
    box-sizing: border-box;
}

.scrim{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    background-color: #53535388;
    box-sizing: border-box;
}