@import 'components/_menu_top.scss',
'components/_fab_bottom.scss',
'components/_ham_bar.scss',
'components/_card.scss';
*, html, body {
    padding: 0!important;
    margin: 0;
    background-color: #F6F6F6;
    box-sizing: border-box;
}