.ham_bar {
    position: relative;
    left: -225px;
    width: 60%;
    height: 100%;
    max-width: 223px;
    background: #e0e0e0;
    box-shadow: 2px 2px 2px #bebebe,
        -4px 2px #ffffff;
        z-index: 500;
    box-sizing: border-box;
}